<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.2.js"></script>
    
    <link href="css/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/alert.js"></script>
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/weather-icons-master/css/weather-icons.min.css" rel="stylesheet">
  
    
  </head>
  <body>

<!--Application Header-->

<div class="appHead">
  <h3 class="text-center"><i class="wi wi-thermometer"></i> Application Name</h3>
</div>

<!--End of Header-->

<!--Main application content starts here-->
<div class="container">

    <div class="appContent">

      <div class="weekHead">
        <h4 class="text-center">Week no.1: 1-Oct-14 to 7-Oct-14</h4>
      </div>

        <div class="row">
          <div class="container timeRow">
            <div class="blank"> <h5></h5></div>
            <div class="timeName" style="background-color:#a38acc;"><i class="wi wi-horizon-alt"></i> Morn</div>
            <div class="timeName" style="background-color:yellow; color: #00AEEF;"><i class="wi wi-day-sunny"></i> Noon</div>
            <div class="timeName" style="background-color:#f0ad4e;"><i class="wi wi-horizon"></i> <br>Eve</div>
            <div class="timeName" style="background-color:#000;"><i class="wi wi-night-clear"></i> <br>Bed</div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="dayName">Mon</div>
            <div class="dayAdd">
             <div ng-controller="ModalDemoCtrl">
                <script type="text/ng-template" id="myModalContent.html">
                  <div class="modal-header">
                    <h5 class="modal-title text-center">My Daily Medication Tracker</h5>
                  </div>
                  
                  <div class="modal-body">
                    <div class="bs-callout bs-callout-app">
                      <h6>Medicine Name</h6>
                        <div class="appinput">
                          <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-default-app" type="button">Add!</button>
                            </span>
                          </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->

                      </div>

                        <div class="panel panel-info">
                          <div class="panel-heading">Medication Name</div>
                            <div class="panel-body">
                              <div class="alert alert-info">
                                  <div class="media">
                                    <span class="glyphicon glyphicon-info-sign pull-left"></span> 
                                    <div class="media-body">
                                      <h3 class="media-heading">Please select your medication!</h3>
                                      <label>Type in the part of the medication name.</label> 
                                      <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Amoxill"> 
                                        <span class="input-group-btn"> 
                                          <button class="btn btn-primary" type="button">Add!</button> 
                                        </span>
                                      </div>
                                      <h6 class="help-block text-info">Please select as many medication as required</h6>
                                    </div>
                                  </div>

                              </div><!-- /.col-lg-6 -->
                              <div class="callout callout-success">
      <h4>Callout heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
    </div>
                            </div>
                          </div>

                           <div class="bs-callout bs-callout-app">
                            <h6>Set a Reminder</h6>
                            <div class="container">
                              <div ng-controller="TimepickerDemoCtrl">
                                <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                              </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                          <div class="panel-heading"><h3 class="panel-title">Form inside Alert</h3></div>
                          <div class="panel-body">
                              <div class="alert alert-info">
                                  <div class="media">
                                    <span class="glyphicon glyphicon-info-sign pull-left"></span> 
                                    <div class="media-body">
                                      <h3 class="media-heading">Please select your medication!</h3>
                                      <label>Type in the part of the medication name.</label> 
                                      <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Amoxill"> 
                                        <span class="input-group-btn"> 
                                          <button class="btn btn-primary" type="button">Submit</button> 
                                        </span>
                                      </div>
                                      <h6 class="help-block text-info">Please select as many medication as required</h6>
                                    </div>
                                  </div>
                              </div>
                          </div><!--panel-body-->
                      </div><!--panel-->

                  </div>
                  
                  <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </div>
                </script>
                <i class="icon-plus" ng-click="open()"></i>
            </div>
          </div>
            <div class="dayAdd">
            <i class="icon-plus" data-toggle="modal" data-target="#myModal"></i>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">My Medication Tracker</h4>
                    </div>
                    <div class="modal-body">
                      

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              

            </div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>   

        <div class="row">
          <div class="container">
            <div class="dayName">Tue</div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>  

        <div class="row">
          <div class="container">
            <div class="dayName">Wed</div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>  

        <div class="row">
          <div class="container">
            <div class="dayName">Thu</div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>  

        <div class="row">
          <div class="container">
            <div class="dayName">Fri</div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>  

        <div class="row">
          <div class="container">
            <div class="dayName">Sat</div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>  

        <div class="row">
          <div class="container">
            <div class="dayName">Sun</div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
            <div class="dayAdd"><i class="icon-plus"></i></div>
          </div>
        </div>   

    </div>
    <hr/>
  
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-primary">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Collapsible Group Item #1 <i class="pull-right glyphicon glyphicon-minus"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <div class="col-lg-12">
                                <div class="bs-callout bs-callout-info">
                                  <h4>Embedding YouTube videos</h4>
                                  <p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. <a href="http://stackoverflow.com/questions/18622508/bootstrap-3-and-youtube-in-modal">See this helpful Stack Overflow post</a> for more information.</p>
                                </div>

                              
                                
                                <div class="medSelection">
                                  <div class="alert alert-dismissable alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">X</button>
                                    <h4>Warning!</h4>
                                    <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                                  </div>
                                </div>

                                
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="panel panel-info">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              Content here!
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-success">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              Content here!
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-warning">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              Content here!
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-danger">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              Content here!
                            </div>
                          </div>
                        </div>
                    </div>

                    <hr/>
    <div class="col-lg-12">
            <h2>Alerts</h2>
            <div class="bs-component">
              <div class="alert alert-dismissable alert-primary">
                <button type="button" class="close" data-dismiss="alert">X</button>
                <h4>Warning!</h4>
                <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
              </div>
            </div>
          </div>

          <dl class="dl-horizontal">
                                  <dt>Medication Name</dt>
                                  <dd>something to go here!</dd>
                                </dl>


<hr/>


</div>

  </body>
</html>
